<div class="bg-gray-200 h-screen grid place-items-center px-4">
  <form [formGroup]="signUpForm" class="w-full grid grid-cols-1 gap-4" action="">
    <div>
      <span class="text-4xl">Sign up</span>
    </div>
    <div class="w-full flex gap-4">
      <div class="flex flex-col w-full">
        <label class="font-medium" for="">FirstName</label>
        <input class="py-2 px-4" type="text" formControlName="firstName">
        @if ((f['firstName'].touched || f['firstName'].dirty) && f['firstName'].errors?.['required']) {
          <span class="text-red-500">This field is required.
          </span>
        } 
      </div>
      <div class="flex flex-col w-full">
        <label class="font-medium" for="">LastName</label>
        <input class="py-2 px-4" type="text" formControlName="lastName">
        @if ((f['lastName'].touched || f['lastName'].dirty) && f['lastName'].errors?.['required']) {
          <span class="text-red-500">This field is required.
          </span>
        } 
      </div>
    </div>
    <div class="w-full flex flex-col">
      <label class="font-medium" for="">Email</label>
      <input class="py-2 px-4" type="text" formControlName="email">
      @if ((f['email'].touched || f['email'].dirty) && f['email'].errors?.['required']) {
        <span class="text-red-500">This field is required.
        </span>
      } 
      @if ((f['email'].touched || f['email'].dirty) && f['email'].errors?.['email']) {
        <span class="text-red-500">Please enter a valid email address.</span>
      }
    </div>
    <div class="w-full flex flex-col">
      <label class="font-medium" for="">Mobile Number</label>
      <input class="py-2 px-4" type="number" formControlName="mobileNumber">
      <div *ngIf="mobileNumber?.invalid && (mobileNumber?.touched || mobileNumber?.dirty)">
        <span *ngIf="mobileNumber?.errors?.['required']" class="text-red-500">Mobile number is required.</span>
        <span *ngIf="mobileNumber?.errors?.['pattern']" class="text-red-500">Number must be exactly 11.</span>
      </div>
    </div>
    <div class="w-full flex flex-col">
      <label class="font-medium" for="">Password</label>
      <input class="py-2 px-4" type="text" formControlName="password">
      <div *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.touched || signUpForm.get('password')?.dirty)">
        <span *ngIf="signUpForm.get('password')?.errors?.['required']" class="text-red-500">Password is required.</span>
        <span *ngIf="signUpForm.get('password')?.errors?.['minlength']" class="text-red-500">Password must be at least 8 characters long.</span>
      </div>
    </div>
    <div class="w-full">
      <button (click)="onSignUp()" class="w-full text-white py-2 rounded-full font-semibold bg-red-500 hover:bg-red-700">Sign Up</button>
    </div>
  </form>
</div>
