<div class="px-[10%] py-4">
  <div class=" w-full">
    <nav class="w-full flex justify-between list-none">
       <li class="font-bold text-4xl">Jekayo</li>
       <li>
        <div class="border border-black rounded-full py-2 px-4">
            Hey there {{usersName}}
        </div>
       </li>
       <li><button (click)="signOut()" class="p-2 bg-blue-600 hover:bg-blue-900 text-white rounded-2xl font-medium"> sign out</button></li>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>