<div class="min-h-screen bg-gray-300 text-white">
  <div class="bg-[url('./app/assets/bg-landing.jpg')] w-full h-[70vh] py-2 ">
    <nav class="flex justify-between px-4">
      <div></div>
      <div class="font-semibold text-3xl ml-16">₯ℳ Jekayo</div>
      <div class="flex gap-4 list-none">
        <li class="bg-black text-white py-2 px-2 rounded-3xl font-semibold hover:bg-gray-900 cursor-pointer">Sign In</li>
        <li class="bg-white text-black py-2 px-2 rounded-3xl font-semibold hover:bg-gray-200 cursor-pointer">Sign Up</li>
      </div>
    </nav>
    <div class="grid place-items-center h-full">
      <div>
        <h1 class="text-3xl font-bold">Have your favorite food delivered to your doorstep</h1>
      </div>
    </div>
  </div>
</div>