<div class="mt-4">
  <main class="w-full">
    <!-- meal section -->
    <section class="w-full">
      <header class="text-2xl">Meals</header>
      <div class="grid grid-cols-2 gap-2 w-full ">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </section>
    <!-- accessory section -->
     <section>
      <header class="text-2xl">Accessories</header>
      <div class="grid grid-cols-2 gap-2 w-full ">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
     </section>
    <!-- Drinks section -->
     <section>
      <header class="text-2xl">Drinks</header>
      <div class="grid grid-cols-2 gap-2 w-full ">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
     </section>
    <!-- Snack section -->
     <section>
      <header class="text-2xl">Snack</header>
      <div class="grid grid-cols-2 gap-2 w-full ">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
     </section>
  </main>
  <aside>

  </aside>
</div>